p{
  columns: #7e7e7e;
  font-size: 13px;
}

a{
    columns: #347bc7;;
}

body{
  font-size: 13px;
  color: #666;
}
a:hover {
  text-decoration: none;
}

/*header start*/
.header-top ul li{
border-left: 1px solid #e0e0e0; 
padding:4px 10px; 
margin: 0 !important;
}

.header-top{
border-bottom: 1px solid #e0e0e0;
}

.header-top ul li:last-child{
border-right:1px solid #e0e0e0
}

.navbar-brand img{
  width: 50px;
  height: 50px;
}

.color ul li a{
  font-size: 20px;
  font-weight: bolder;
}
#niceselect{
  width: 200px;
}

#navbarNavDropdown ul li a:hover{
  
  background-color:#7c878e;
  margin: 0;
}

/*.mega-dropdown a ul li{
  display: none;
}*/
.mega-dropdown a ul li:hover{
  display: block;
}
.altcoxluq li:hover{
display: block;
}

.hundurluk img{
  height: 500px;
}
.box-text-wrap .box-text {
  text-align: center;
  max-width: 300px;
}
::after {
  box-sizing: inherit;
}
div {
  display: block;
}
body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.004);
}
body {
  font-family: openSansRegular !important;
  overflow-x: hidden;
}
.box-text{
 margin-top:200px ;
 margin-left: 100px; 
}
.hedef{
  margin-top: 40px;
 width: 700px;
}
.page-homepage .homepage-banner-row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.color ul li  a{
  font-size: 20px;
  color:black;
  margin-left: 9px;
}
.picture-box img{
  width: 535px;
  float: left;
  margin-left: 570px;
  margin-top: 0;
  padding: 0;
}

.text-box{
height: 520px;
margin-top: 40px;
margin-right:500px;
float: left;
}

.box-group {
  margin-top: 200px;
  margin-left: 130px;
}
.box-btn-group a{
  font-size: 25px;
 color: black;
 font-weight: bolder;
 margin-left: 10px;
}

.box-color{
background-color: pink;

}
.size-picture img{
  height: 520px;
}

.above-box{
  margin-top: 40px;
}
.box-group p{
  margin-left: 30px;
}

.box-letters{
  margin-left: 160px;
  margin-top:230px ;
}
.box-letters p{
  margin-left: 50px;
}

.box-center{
  margin-left: 130px;
}
.box-btn-group a{
  margin-left: 30px;
}

.weight{
  width: 400px;
}
.box-letters h3{
  font-weight: bolder;
  color: black;
}
.box-letters p{
  font-size: 20px;
}

.box-btn a{
  margin-left:0px !important;
  font-size: 25px;
  color: black;
  font-weight: bolder;
}
.box-size h3{
  margin-left: 60px;
}
.box-side ul {
  float: left;
}
.list-group li{
  border: none;
}

.Box-element ul li a{
  font-size: 20px;
 color: dimgray;
}
.Box-element ul {
  
  list-style-type: none; 
}

.icon-element a i{
  font-size: 30px;
  color: #787a7d;
  margin-left: 5px;
}
.button-element{
  border: 1px solid #5c5c5c;
  color:  #5c5c5c;
  font-size: 15px;
  height: 50px;
  width: 180px;
  margin-top: 20px;
  box-shadow: 3px 3px 3px #888888;
}
.button-element:hover{
  background-color: #f2f3f5;
}
.Box-element ul :hover{
  color: black;
}
.icon-element a i:hover{
  color: black;
}


